<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebCivica</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebCivica.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid" style="padding:15px;">
                &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;    &nbsp;&nbsp;  &nbsp;&nbsp; 
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="https://www.civica.com/globalassets/6.images/rebrand/image-library/logo/civica-pride-logo-desktop.svg" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;   &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;   &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;   &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;   &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;   &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;   &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;   &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;   &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;   &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;   &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Insights">Insights</a>
                        </li>
                        &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Careers">Careers</a>
                        </li>
                        &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ContactUs">ContactUs</a>
                        </li>
                        &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Support">Support</a>
                        </li>
                        &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;     &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp; 
                    </ul>
                </div>
            </div>
            </hr></>
            
        </nav>
    </header>
 
    <div class="container">
        <div class="row">
            <div class="col-sm">
              
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About"><b>About US</b></a>
            
            </div>
            <div class="col-sm">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="capability"><b>Capabilities</b></a>

            </div>
            <div class="col-sm">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Sector"><b>Sector</b></a>

            </div>

            <div class="col-sm">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="services"><b>Software And Services</b></a>

            </div>
    
            <div class="col-sm">
                <div class="input-group">
                    <div class="form-outline">
                        <input type="search" id="form1" class="form-control" placeholder="Search" />
                       
                   </div>
            
                </div>
        </div>
     
            </div>
            </div>
   
            </br>

          <div class="container" width="100%" >
                <div class="="row>
                    <div class="col-sm">
                <section class="banner embed-responsive-item">

                    <video class="w-100" autoplay loop muted style="height:500px;width:1000px;">
                    <source src="https://mdbootstrap.com/img/video/animation-intro.mp4" type="video/mp4"/>
                    <br>
                </video>
  

             </section>
             @*   <iframe src="https://player.vimeo.com/video/137857207" title="Vimeo video" allowfullscreen></iframe>*@
                  </div>
                </div>
            </div>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
   
    <div class="container" width="100%">
        <div class="=" row>
            <div class="col-sm">

                &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;     &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;
                &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;     &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;
                &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;     &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;
                &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;     &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;
                &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;
                <h2>What We Do</h2>
            </div>
        </div>
    </div>


 
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - WebCivica - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
