
<h2>Weakly Type</h2>
<form action="Form1" method="post">
    <table>
        <tr>
            <td>
                Enter Id:
            </td>
            <td>
                <input type="text" name="txtId" />
            </td>
            <td>
                Enter Name:
            </td>
            <td>
                <input type="text" name="txtName" />
            </td>
            <td>
                Enter Addon:
            </td>
            <td>
                <input type="checkbox" name="chkAddon" />
            </td>
        </tr>
    </table>

    <input type="submit" value="submit"/>
    </form>

@ViewBag.Id

@ViewBag.Name
@ViewBag.Addon
