
<fieldset>
    <div class="form-horizontal">
        <div class="editor-label">
            Name
        </div>
        <div class="editor-label">
            <input type="text" id="txtName"/>
        </div>
        <div class="editor-label">
            Address
        </div>
        <div class="editor-label">
            <input type="text" id="txtAddress"/>
        </div>
        <div class="editor-label">
            City
        </div>
        <div class="editor-label">
            <select id="txtCity">
                <option value="Nagpur">
                    Nagpur
                </option>
                <option value="Mumbai">
                    Mumbai
                </option>

            </select>
            </div>
        </div>
    </fieldset>
<script>
    
    </script>

